@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Black.ttf') format('truetype'),
         url('../fonts/Unbounded-Black.woff') format('woff');
    font-weight: 900; /* Black */
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Bold.ttf') format('truetype'),
         url('../fonts/Unbounded-Bold.woff') format('woff');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Medium.ttf') format('truetype'),
         url('../fonts/Unbounded-Medium.woff') format('woff');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Regular.ttf') format('truetype'),
         url('../fonts/Unbounded-Regular.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Light.ttf') format('truetype'),
         url('../fonts/Unbounded-Light.woff') format('woff');
    font-weight: 300; /* Light */
    font-style: normal;
}

body {
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
}